/*
|--------------------------------------------------------------------------
| Monolog
|--------------------------------------------------------------------------
*/

.monolog {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 2000;
    color:#fff;
}

.monolog-main-container {
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0);
    z-index: 2001;
}

.monolog-sub-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 30%;
    min-width: 350px;
    background: rgba(0, 0, 0, 0);
    z-index: 2002;
}

.monolog-close {
    position: absolute;
    display: inline-block;
    color: #a9a9a9;
    font-size: 5rem;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    top: 15px;
    right: 15px;
    text-align: center;
    cursor: pointer;
    z-index: 2003;
}

.monolog-fade-in {
    animation: fade-in 300ms linear;
}

.monolog-fade-out {
    animation: fade-out 300ms linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
|--------------------------------------------------------------------------
| Loader CSS
|--------------------------------------------------------------------------
*/

.monolog-loader {
    margin: 0 auto;
    position: relative;
    border: 7px solid rgba(169, 169, 169, 0.2);
    border-left-color: #a9a9a9;
    transform: translateZ(0);
    animation: load .8s infinite linear;
    z-index: 101;
}

.monolog-loader,
.monolog-loader:after {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}